/* footer */

#footer {
    background: #fff;
    padding: 120px 0;
    font-family: 'NexonLv1Gothic';
}
#footer .footer-top {
    padding-bottom: 67px;
    border-bottom: 1px solid #ddd;
    display: flex;
}
#footer .footer-left {
    width: 33.33%;
}
#footer .footer-left .name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
#footer .footer-left p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.595;
    margin-bottom: 25px;
}
#footer .footer-left .sns li {
    display: inline-block;
    margin-right: 3px;
}
#footer .footer-left .sns li:last-child {
    margin-right: 0;
}

#footer .footer-left .sns li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #f5f5f5 url(../img/facebook.png) no-repeat 50% 50%;
}
#footer .footer-left .sns li:nth-child(2) a {
    background-image: url(../img/instagram.png);
}
#footer .footer-left .sns li:nth-child(3) a {
    background-image: url(../img/youtube.png);
}
#footer .footer-left .sns li:nth-child(4) a {
    background-image: url(../img/git.png);
}
#footer .footer-left .sns li:nth-child(5) a {
    background-image: url(../img/link.png);
}

#footer .footer-right {
    width: 66.66%;
    display: flex;
}
#footer .footer-right .menu {
    width: 25%;
}
#footer .footer-right .menu h3 {
    margin-bottom: 13px;
} 
#footer .footer-right .menu li a {
    display: inline-block;
    font-size: 14px;
    padding: 5px 0;
}

#footer .footer-bottom {
    padding-top: 33px;
}
#footer .footer-bottom p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}