/* image */

#image {
    padding: 120px 0;
}
#image .cont {
    display: flex;
    justify-content: space-between;
}
#image .cont article {
    width: 30%;
    position: relative;
}
#image .cont article figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: rgb(255 255 255 / 50%);
    text-align: center;
    background-blend-mode: color;
}
#image .cont article figcaption p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
#image .cont article figcaption a {
    display: inline-block;
    height: 30px;
    line-height: 33px;
    padding: 0 15px;
    border-radius: 50px;
    color: #fff;
    background: #4857EC;
}