/* header */
#header {
    background: #F6F8FD;
    text-align: center;
}
#header .logo {
    padding-top: 20px;
}
#header nav {
    max-width: 1160px;
    margin: 0 auto;
}
#header .gnb {
    display: flex;
}
#header .gnb li {
    width: 20%;
}
#header .gnb li a {
    display: inline-block;
    line-height: 56px;
}
#header .gnb li a:hover {
    text-decoration: underline;
}